.registration-page {
    margin: 20px;
  }
  
  .page-title {
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  